video {
    border-radius: 6px;
    width: 320px; 
    height: 240px;
    border: 4px solid green;
    margin-left: auto;
    margin-right: auto; 
    display:block;
}

button {
    padding: 10px;
    margin-left: auto;
    margin-right: auto; 
    display:inline;
}

canvas.drawing, canvas.drawingBuffer {
    width: 320px; 
    height: 240px;
    position: absolute;
    left: 25px;
    top: 50px;
}