video {
    width: 320px; 
    height: 240px;
    border: 4px solid green;
    margin-left: auto;
    margin-right: auto; 
    display:block;
}

button {
    border-radius: 2px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto; 
    display:block;
}