h3 {
    text-align: center;
}

.barcode-component {
    width: 100%;
}

.video-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

video {
    border-radius: 6px;
    width: 320px; 
    height: 240px;
    border: 4px solid #000;
    margin-left: auto;
    margin-right: auto; 
    display:block;
}

.button-container {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

button {
    padding: 10px;
}

canvas.drawing, canvas.drawingBuffer {
    width: 320px; 
    height: 240px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#barcode-result {
    text-align: center;
}